.catalog__title {
  .font(36px, 40px);
  font-family: @oswald-font;
  font-weight: 400;
  color: #000000;
  margin: 26px 20px 38px;

  @media (min-width: @tablet-width) {
    .font(60px, 60px);
    margin: 61px 30px 10px;
  }

  @media (min-width: @desktop-width) {
    margin: 74px auto 164px;
  }
}

.catalog__list {
  .reset-list();
  border-top: 1px solid #ebebeb;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(324px, 1fr));
    column-gap: 60px;
    row-gap: 141px;
    margin: 163px 30px 0;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(auto-fill, 245px);
    column-gap: 80px;
    row-gap: 143px;
    margin-left: 110px;
    margin-right: 110px;
  }
}

.catalog__more {
  display: flex;
  flex-direction: column;
  text-align: center;

  @media (min-width: @tablet-width) {
    background-color: #ffffff;
    border: 2px solid #f2f2f2;
  }
}

.catalog__more-icon {
  position: relative;
  padding-top: 39px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    width: 30px;
    height: 2px;
    background-color: #d3d3d3;
  }

  &::after {
    transform: translateX(-50%) rotate(90deg);
  }

  @media (min-width: @tablet-width) {
    padding-top: 49%;

    &::before,
    &::after {
      top: 50%;
      width: 60px;
    }
  }

  @media (min-width: @desktop-width) {
    padding-top: 59%;
  }
}

.catalog__description {
  margin: 39px 0 0;
  .font(16px, 20px);
  font-family: @oswald-font;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    margin: 0 74px 24px;
    .font(20px, 22px);
  }

  @media (min-width: @desktop-width) {
    margin: 0 40px 24px;
  }
}

.catalog__text {
  .font(12px, 16px);
  margin: 8px 0 21px;
  font-weight: 400;
  color: #444444;

  @media (min-width: @tablet-width) {
    margin: 0 50px 86px;
    .font(16px, 18px);
  }

  @media (min-width: @desktop-width) {
    margin: 0 30px 86px;
  }
}

.catalog__item {
  margin: 0 20px 0;
  border-top: 1px solid #ebebeb;

  &:last-child {
    border-bottom: 1px solid #ebebeb;

    @media (min-width: @tablet-width) {
      border-bottom: none;
    }
  }

  @media (min-width: @tablet-width) {
    border: none;
    width: auto;
    min-height: 430px;
    position: relative;

    display: flex;
    align-items: stretch;
    justify-content: flex-end;
    flex-direction: column;

    background-color: @bg-color-lighter;
  }
}

.catalog__button-more {
  margin-bottom: 24px;
  padding: 10px 0;

  .font(16px, 20px);
  color: #444444;
  background-color: @bg-color-lighter;

  &:hover {
    background-color: #ebebeb;
  }

  &:active {
    color: rgba(68, 68, 68, 0.3);
  }

  @media (min-width: @tablet-width) {
    margin: 0 35px 36px 36px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 35px 38px 36px;
  }
}
