.hero {
  font-family: @oswald-font;
  font-weight: 400;
  text-align: center;
  color: #ffffff;

  background: linear-gradient(to bottom, rgba(104, 183, 56, 0.85) 302px, #ffffff 302px),
    url("../img/index-background.jpg") top center no-repeat;
}

.hero__title {
  .font(36px, 36px);
  margin: 0;
  font-weight: 400;
}

.hero__text {
  .font(14px, 14px);
  margin: 0;
  text-transform: uppercase;
}
