.product-card {
  @media (max-width: @mobile-width-only) {
    padding-top: 19px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "img title"
      "img table"
      "button button";
  }

  @media (min-width: @tablet-width) {
    width: auto;
    min-height: 430px;

    display: flex;
    align-items: stretch;
    justify-content: flex-end;
    flex-direction: column;

    background-color: @bg-color-lighter;
  }

  @media (min-width: @desktop-width) {
    min-height: 431px;
    min-width: 245px;
  }
}

.product-card__link-img {
  @media (max-width: @mobile-width-only) {
    grid-area: img;
    justify-self: center;
    align-self: center;
  }

  margin-top: 15px;

  @media (min-width: @tablet-width) {
    margin: 0 auto;
  }
}

.product-card__link {
  color: #222222;


  @media (max-width: @mobile-width-only) {
    grid-area: title;
  }

  margin: 20px 0 0;
  text-decoration: none;

  @media (min-width: @desktop-width) {
    margin: 22px 0 0;
  }
}

.product-card__link-title {
  margin: 0;
  padding-right: 45px;

  font-family: @oswald-font;
  .font(16px, 20px);
  font-weight: 400;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    padding: 0 85px;

    .font(20px, 24px);
    text-align: center;
  }

  @media (min-width: @desktop-width) {
    padding: 0 53px 0 58px;
    .font(20px, 21px);
  }
}


.product-card__details {
  tr {
    @media (min-width: @tablet-width) {
      border-bottom: 1px solid #cdcdcd;
    }
  }

  td {
    padding: 0;

    &:last-of-type {
      text-align: right;
    }

    @media (min-width: @tablet-width) {
      padding: 8px 0 7px;
    }

    @media (max-width: @mobile-width-only) {
      grid-area: table;
    }
  }

  margin: 14px 0 22px;
  padding: 0;
  border-collapse: collapse;

  .font(12px, 16px);
  font-weight: 400;
  color: #444444;

  @media (min-width: @tablet-width) {
    margin: 14px 37px 33px;

    .font(16px, 16px);
  }

  @media (min-width: @desktop-width) {
    margin-top: 16px;
  }
}

.product-card__button {
  margin-bottom: 24px;
  padding: 10px 0;
  .font(16px, 20px);

  @media (max-width: @mobile-width-only) {
    grid-area: button;
  }

  @media (min-width: @tablet-width) {
    margin: 0 37px 39px 39px;
  }
}
