.product-card__link {
  .font(16px, 20px);
  margin: 0;
  font-family: @oswald-font;
  font-weight: 400;
  color: #222222;
  text-decoration: none;

  h3 {
    margin: 0;
  }
}

.product-card__details {
  .font(12px, 16px);
  padding: 0;
  font-weight: 400;
  color: #444444;

  td {
    padding: 0;
  }
}

.product-card__button {
  margin-bottom: 25px;
}

.product-card__description {
  .font(16px, 20px);
  font-family: @oswald-font;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
}

.product-card__text {
  .font(12px, 16px);
  margin-bottom: 21px;
  font-weight: 400;
  color: #444444;
}
