.title-green-stripe {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
    background-color: @element-basic-color;
    z-index: -2;
    top: 50%;
  }
}

.title-green-stripe__title {
  .font(24px, 26px);
  font-weight: 400;
  position: relative;
  padding: 0 20px;
  width: min-content;
  color: #000000;
  text-transform: none;
  background-color: #ffffff;

  &--contacts {
    margin-bottom: 35px;
    min-width: 187px;
  }

  @media (min-width: @tablet-width) {
    margin-left: 30px;
    padding: 0 42px 0 39px;
    .font(36px, 36px);

    &--contacts {
      margin-bottom: 76px;
      white-space: nowrap;
    }
  }

  @media (min-width: @desktop-width) {
    padding: 0 40px 0 40px;
    margin-left: -40px;

    &--additionally {
      margin-bottom: 58px;
    }
  }
}
